<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My First Website</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
  </head>
  <body>
    <h1>BIENVENIDO A MI WEB</h1>
    <%- body -%> <!-- <=== note this line -->
  </body>
</html>
