<img src="http://www.barcinno.com/wp-content/uploads/2014/07/ironhack-day1.jpg" width=200>

<form action="/submit-form?tipo=loginnormal" method="post">
  <label for="first-name-input">¿Quien eres?:</label>
  <input id="first-name-input" type="text" name="username">
  <label for="first-name-input">Contraseña:</label>
  <input id="first-name-input" type="password" name="passwd">
  <input type="submit" value="Save Name">
</form>
